@font-face {
	font-family: "Inter";
	font-style: normal;
	src: url("../fonts/Inter.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	src: url("../fonts/Inter-Latin.woff2") format("woff2");
	font-weight: 600;
	font-display: swap;
}

:root {
	--background-body: #E1D4C9;
	--background-container: #665F55;
	--background-backdrop: rgba(64, 63, 61, 0.80);

	--text-dark: #403F3D;
	--text-light: #E1D4C9;
	--text-accent: #B0907A;

	--border-light: #C1B6AD;
	--border-dark: #665F55;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--text-dark);
	background-color: var(--background-body);
}

h1 {
	font-size: 72px;
	font-weight: 600;
	line-height: 105%;
}

h2 {
	font-size: 60px;
	font-weight: 600;
	line-height: 125%;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

a,
button {
	font-size: 16px;
	font-weight: 600;
	color: var(--text-dark);
	line-height: 150%;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
}

svg {
	vertical-align: top;
}

section {
	padding-bottom: 100px;
}

.no-scroll {
	overflow: hidden;
}

.accent {
	font-style: italic;
	color: var(--text-accent)
}

.medium {
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

.caption {
	font-size: 10px;
	font-weight: 600;
	line-height: 140%;
}

.container {
	max-width: 1440px;
	padding: 0 40px;
	margin: 0 auto;
}

/* Header */
.header {
	position: relative;
	margin: 20px 0;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 100px;
	height: 60px;
}

.header__logo-link--active {
	pointer-events: none;
	user-select: none;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.header__menu-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.header__menu-list:first-child {
	flex-shrink: 0;
	flex-grow: 1;
}


.header__menu-link {
	position: relative;
	color: var(--text-dark);
	padding-bottom: 4px;
}

.header__menu-link svg {
	margin-left: 5px;
}

.header__menu-link::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: var(--text-dark);
	transform: scale(0);
	transition: transform 0.5s ease-out;
}

.header__menu-link--active {
	pointer-events: none;
	user-select: none;
}

.header__menu-link--active::after {
	transform: scale(1);
}

.header__menu-icon {
	line-height: normal;
}

.header__menu-burger {
	display: none;
}

/* Enjoy */
.enjoy__wrapper {
	background: url("../img/main/enjoy_bg.jpg") no-repeat center;
	padding: 100px;
	border-radius: 40px;
}

.enjoy__content {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 40px;
	max-width: 530px;
}

.enjoy__title {
	color: var(--text-light);
}

.enjoy__text {
	color: var(--text-light);
}

.enjoy__link {
	position: relative;
	display: inline-block;
	padding: 20px 78px;
	text-align: right;
	border-radius: 100px;
	background-color: var(--background-body);
}

.enjoy__link-text {
	position: relative;
	left: 0;
	transition: left 0.3s ease-in;
}

.enjoy__link-icon {
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

/* Favourites Coffee */
.favourites-coffee__title {
	text-align: center;
	margin-bottom: 40px;
}

.slider {
	position: relative;
}

.slider__container {
	margin-bottom: 40px;
}

.slider__items {
	max-width: 480px;
	margin: 0 auto;
}

.slider__item {
	text-align: center;
}

.slider__item-img {
	margin-bottom: 20px;
}

.slider__item-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
	margin-bottom: 16px;
}

.slider__item-descr {
	margin-bottom: 16px;
}

.slider__item-price {
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.slider__nav {
	position: absolute;
	z-index: 2;
	top: calc(50% - 20px);
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.slider__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background: none;
	border-radius: 100%;
	border: 1px solid var(--border-dark);
	cursor: pointer;
	transition: background 0.5s ease-out;
}

.slider__button path {
	transition: stroke 0.5s ease-out;
}

.slider__bullets {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 12px;
}

.slider__bullet {
	width: 40px;
	height: 4px;
	background: var(--border-light);
	border: none;
	border-radius: 100px;
	transition: background 0.5s;
}

.slider__bullet--current {
	background: var(--border-dark);
}

/* About */
.about__title {
	margin-bottom: 40px;
}

.about__cards {
	display: grid;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	gap: 40px;
}

.about__card {
	border-radius: 20px;
	overflow: hidden;
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-out;
}

.about__card-big {
	height: 590px;
}

.about__card-small {
	height: 430px;
}

.about__card-1 {
	grid-column: 1/2;
	grid-row: 1/3;
	background-image: url("../img/main/about-1.jpeg");
}

.about__card-2 {
	grid-column: 1/2;
	grid-row: 3/4;
	background-image: url("../img/main/about-2.jpeg");
}

.about__card-3 {
	grid-column: 2/3;
	grid-row: 1/2;
	background-image: url("../img/main/about-3.jpeg");
}

.about__card-4 {
	grid-column: 2/3;
	grid-row: 2/4;
	background-image: url("../img/main/about-4.jpeg");
}

/* Mobile App */
.mobile-app__wrapper {
	display: flex;
	gap: 100px;
}

.mobile-app__col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	flex-basis: 50%;
}

.mobile-app__links {
	display: flex;
	gap: 20px;
}

.mobile-app__link {
	display: inline-flex;
	padding: 12px 20px;
	align-items: center;
	gap: 8px;
	width: 200px;
	border-radius: 100px;
	border: 1px solid var(--border-dark);
	transition: background 0.5s ease-in, color 0.5s ease-in;
}

.mobile-app__link-icon {
	width: 36px;
	height: 36px;
}

.mobile-app__link-icon path {
	transition: fill 0.5s ease-in;
}

.mobile-app__link-info {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.mobile-app__link-supname {
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
}

.mobile-app__link-name {
	font-weight: 600;
}

/* Menu */
.menu__wrapper h1 {
	display: none;
}

.menu__title {
	max-width: 800px;
	margin: 0 auto 40px auto;
	text-align: center;
}

.tabs {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-bottom: 40px;
}

.tabs__item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 16px 8px 8px;
	border-radius: 100px;
	border: 1px solid var(--border-light);
	transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

.tabs__item--active {
	background-color: var(--background-container);
	color: var(--text-light);
	pointer-events: none;
	user-select: none;
}

.tabs__item--active .tabs__item-icon {
	background-color: var(--background-body);
}

.tabs__item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px;
	border-radius: 100px;
	background-color: var(--border-light);
	transition: background-color 0.5s ease-out;
}

.tabs__item-icon img {
	width: 16px;
	height: 16px;
}

.menu__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.menu__item {
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	border: 1px solid var(--border-light);
	cursor: pointer;
}

.menu__item-img {
	border-radius: 40px;
	overflow: hidden;
}

.menu__item-img img {
	transition: transform 0.5s ease-out;
	transform: scale(1.1);
}

.menu__item-bottom {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 12px;
	padding: 20px;
}

.menu__item-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.menu__item-descr {
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

.menu__item-price {
	margin-top: auto;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%;
}

.menu__btn-load {
	display: none;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 100px;
	border: 1px solid var(--border-dark);
}

.menu__btn-load--active {
	display: none;
}

/* Footer */
.footer__wrapper {
	display: flex;
	gap: 100px;
	padding: 100px;
	margin-bottom: 40px;
	border-radius: 40px;
	background: var(--background-container);
}

.footer__title {
	color: var(--text-light);
}

.footer__col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	flex-basis: 50%;
}

.social__list {
	display: flex;
	gap: 12px;
}

.social__link {
	display: block;
	padding: 17px;
	border-radius: 100px;
	border: 1px solid var(--border-light);
	transition: background-color 0.5s ease-out;
}

.social__link svg {
	width: 24px;
	height: 24px;
	transition: stroke 0.5s ease-out;
}

.contacts,
.contacts a {
	color: var(--border-light)
}

.contacts__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.contacts__item {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.contacts__item svg {
	margin-right: 8px;
}

.contacts__link {
	display: inline-block;
	position: relative;
	padding-bottom: 4px;
}

.contacts__link::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: var(--background-body);
	transform: scale(0);
	transition: transform 0.5s ease-out;
}