@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("../fonts/Inter.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url("../fonts/Inter-Latin.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}