@media screen and (max-width: 900px) {
  .app {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .gallows {
    &__img {
      width: 200px;
    }
    &__part {
      &-head {
        width: 30%;
      }
      &-body {
        height: 30%;
      }
      &-hand {
        &-left, &-right {
          width: 20%;
        }
      }
      &-leg {
        &-left, &-right {
          width: 20%;
          top: 71%;
        }
      }
    }
  }
}